div{font-size: medium; font-family: Arial, Helvetica, sans-serif}
h1 {font-size: xx-large;}
header{font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
pre{font-size: large;}

